* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #cad8e2;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }
}

.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  input {
    margin-bottom: 0;
  }
}

input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.validation {
  color: red;
}
